---
# frontmatter
---
{% include fragment-pagebegin.html %}
<!-- template for the build generated fhir artifact pages e.g., profiles, examples, etc-->
<div class="col-12" style="counter-reset:section 4;">

<!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->

<a name="root"> </a>

<!-- ============nav-tabs=============== -->

<!--{% raw %}
{{site.data.structuredefinitions.[page.id].type}}<br />
{{page.type}} <br />
{{page.id}}<br />
{% endraw %}-->

{% if page.template == 'format' %}
  {% if page.fmt == 'xml' %}
    {% include nav-tabs.html type=page.type id=page.id active="xml" %}
    <h3 style="counter-reset: sub-section 6;">XML Format: {{page.type}}-{{page.id}}</h3>
  {% elsif page.fmt == 'json' %}
    {% include nav-tabs.html type=page.type id=page.id active="json" %}
    <h3 style="counter-reset: sub-section 7;"> JSON Format: {{page.type}}-{{page.id}}</h3>
  {% else %}
    {% include nav-tabs.html type=page.type id=page.id active="turtle" %}
    <h3 style="counter-reset: sub-section 8;">Turtle Format: {{page.type}}-{{page.id}}</h3>
{% endif %}

{% elsif page.template == 'definitions'%}
    {% include nav-tabs.html type=page.type id=page.id active="definitions" %}

{% elsif page.template == 'mappings' %}
    {% include nav-tabs.html type=page.type id=page.id active="mappings" %}

{% elsif page.template == 'examples' %}
     {% include nav-tabs.html type=page.type id=page.id active="examples" %}

{% else %} <!-- content view -->
     {% include nav-tabs.html type=page.type id=page.id active="narrative" %}

{% endif %}

<!-- ============ end nav-tabs=============== -->

  <!-- ============CONTENT CONTENT=============== -->

{% unless page.type == "StructureDefinition" %}

<!-- ======= included intro ===========-->
  {% assign intro = site.data.pages[page.path].intro %}
  {% if intro != null %}
  {% if site.data.pages[page.path].intro-type == 'xml' %}
  <div style="display:inline-block">
  {% include {{intro}} %}
  </div>
  {% else %}
  {% capture intro-content %}
{% include {{intro}} %}
  {% endcapture %}
  <div style="display:inline-block">
  {{ intro-content | markdownify }}
  </div>
  {% endif %}
  {% endif %}
<!-- ======= end included intro ===========-->
{% endunless %}

{{ content }}

{% unless page.template == 'definitions' %}
<!-- ======= included intro notes ===========-->
  {% assign notes = site.data.pages[page.path].notes %}
  {% if notes != null %}
  {% if site.data.pages[page.path].notes-type == 'xml' %}
  <div style="display:inline-block">
  {% include {{notes}} %}
  </div>
  {% else %}
  {% capture note-content %}
{% include {{notes}} %}
  {% endcapture %}
  <div style="display:inline-block">
  {{ note-content | markdownify }}
  </div>
  {% endif %}
  {% endif %}
<!-- ======= end included notes ===========-->

{% endunless %}


  <!-- ==============END CONTENT END CONTENT=================== -->

{% include fragment-pageend.html %}
{% assign includetabscripts = 'true' %}
